:root {
  --black: #0b0b0b;
  --pink: #f2c6f2;
  --text: #222;
  --muted: #888;
  --text-light: #f5f5f5;
  --white: #ffffff;
  --text-dark: #222222;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: var(--white);
  color: var(--text-dark);
  line-height: 1.6;
}

/* HEADER */
header {
  height: 102px;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  position: absolute;
  left: 60px;
  width: 120px;
  top: 0;
}

#mainMenu {
  display: flex;
  gap: 38.1px;
}

#mainMenu a {
  color: var(--text-light);
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-top: 2px;

}

/* Active (current page) */
#mainMenu a.active {
  color: var(--pink);
}

/* Optional hover */
#mainMenu a:hover {
  color: var(--pink);
}

/* CONTACT SECTION */
.contact-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0b0b0b;
}

.contact-section h1 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #fff;
}

.subtitle {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 40px;
  font-family: Space mono, monospace;
}

/* FORM */
.contact-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  font-size: 13px;
  margin-bottom: 6px;
  margin-top: 18px;
  color: #fff;
  font-family: Space mono, monospace;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-family: Space mono, monospace;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  margin-top: 30px;
  padding: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f2c6f7;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 15px rgba(190, 255, 160, 0.4);
}

.contact-form button:hover {
  opacity: 0.9;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 80px 0;
}

.footer-logo {
  width: 120px;
  margin-bottom: 24px;
}

footer hr {
  width: 240px;
  margin: 0 auto 24px;
  border: none;
  border-top: 1px solid #ccc;
}

footer p {
  font-size: 0.9rem;
  margin-bottom: 24px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.icons img {
  width: 22px;
}
